body {
	background-color: white
;
}
a {
	text-decoration: none;
	color: #EE00A2;
}
a {
	text-decoration: underline;
}
p {
	text-align: center;
}
h2 {
	text-align: center;
}
h2 {
	text-shadow: 1px 1px 2px #F6307A
}
h2 {
	front-size: 34px;
}
img {
	width: 16%;
}
h2 {
	color: #610440;
	background-color: #FDEDEC;
}
body {
	font-family: Times, serif;
}
h1 {
	text-align: center;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h1 {
	text-decoration: underline;
}
h1 {
	text-shadow: #F6307A 4px 0 20px;
}
ul {
	text-align: center;
}
